# Dependencias
/node_modules
client/node_modules

# Compilados
/dist
/build
client/dist

# Variables de entorno (¡NUNCA commitear secretos!)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Tests
/coverage

# Editores / OS
.DS_Store
.idea
*.swp

# NestJS
.cache
